<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bomb720001.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,214},{96,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{96,38}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720002.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,214},{96,38}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,73},{96,38}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720003.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,268},{108,44}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,67},{108,44}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720004.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,220},{170,46}}</string>
                <key>offset</key>
                <string>{-2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,66},{170,46}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,156},{188,62}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{188,62}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720006.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,90},{206,64}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,52},{206,64}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720007.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{224,86}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,31},{224,86}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,464},{242,86}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{242,86}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{258,88}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,31},{258,88}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{274,86}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{274,86}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{274,96}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{274,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{274,96}}</string>
                <key>offset</key>
                <string>{-2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,21},{274,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{274,98}}</string>
                <key>offset</key>
                <string>{-2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{274,98}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{82,90}}</string>
                <key>offset</key>
                <string>{-2,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,20},{82,90}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720015.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,366},{66,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,14},{66,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720016.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,366},{66,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,14},{66,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720017.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,268},{66,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,14},{66,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720018.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,268},{66,96}}</string>
                <key>offset</key>
                <string>{-2,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,14},{66,96}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720019.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,366},{54,102}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,8},{54,102}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720020.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,366},{54,102}}</string>
                <key>offset</key>
                <string>{-2,41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,8},{54,102}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720021.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,312},{54,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{54,106}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720022.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,312},{54,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,4},{54,106}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720023.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,314},{50,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,4},{50,106}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720024.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,314},{50,106}}</string>
                <key>offset</key>
                <string>{-2,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,4},{50,106}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
            <key>bomb720025.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,156},{42,56}}</string>
                <key>offset</key>
                <string>{-1,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,0},{42,56}}</string>
                <key>sourceSize</key>
                <string>{282,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>72.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c3c9561e05e398ae6519ba019363c0f$</string>
            <key>textureFileName</key>
            <string>72.png</string>
        </dict>
    </dict>
</plist>
